<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.binota.bells</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/deno</string>
        <string>run</string>
        <string>--allow-read</string>
        <string>--allow-run</string>
        <string>/Users/binota/Developer/bells/mod.js</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/binota/Developer/bells/logs/schedule_output.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/binota/Developer/bells/logs/schedule_error.log</string>
</dict>
</plist>

